*::-webkit-scrollbar {
  display: none !important;

}

* {
  scrollbar-width: none;
}

html, body {
  margin: 0;
  padding: 0;
}

input[type="text"]:focus, 
input[type="date"]:focus,
 input[type="email"]:focus, 
 input[type="month"]:focus,
 input[type="number"]:focus,
 input[type="password"]:focus,
 input[type="tel"]:focus,
 select:focus {
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
    border: none;
    outline: none;

}

input[type="radio"] {
  transform: scale(1.2);
  transition: transform 0.2s ease; 
}

input[type="radio"]:checked {
  transform: scale(1.2); 

}
