.search-roll-page {
    padding: 40px 20px;
    /* max-width: 80%; */
    min-height: 100vh;
    background-image: linear-gradient(to right, #ece9e6, #ffffff);
    font-family: Arial, sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-container {
    max-width: 800px;
    width: 80%;
    margin: 0 auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-title {
    color: #333;
    margin-bottom: 10px;
}

.search-subtitle {
    margin-bottom: 30px;
    color: #555;
}

.search-form {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 40px;
    justify-content: center;
    width: 100%;
    max-width: 500px;
}

.search-input-2 {
    padding: 12px;
    width: 90%;
    max-width: 280px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-transform: uppercase;
}

.search-btn {
    padding: 12px 25px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 90%;
    max-width: 300px;

}

.search-error {
    color: red;
}

.result-container {
    border: 1px solid #007bff;
    padding: 30px;
    border-radius: 10px;
    text-align: left;
    display: inline-block;
    background: #f9f9f9;
    width: 100%;
    max-width: 600px;
}

.result-title {
    margin-top: 0;
    text-align: center;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.details-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin-top: 20px;
}

.divider {
    margin: 20px 0;
}

.success-message {
    text-align: center;
    color: green;
    font-weight: bold;
    font-size: 18px;
}

@media (max-width: 600px) {
    .search-roll-page {
        padding: 15px;
    }

    .search-container {
        padding: 20px;
    }

    .details-grid {
        grid-template-columns: 1fr !important;
    }

    .search-form {
        flex-direction: column;
    }

    .search-input {
        max-width: 100%;
    }

    .search-btn {
        width: 100%;
    }
}